.toggle-container{
    position: absolute;
    transform: scale(1.1) translate(160px, -9px);
}
.toggle{
    visibility: hidden;
}
.toggle + label {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    cursor: pointer;
    color: var(--theme-color);
}
/* transform: translate */
/* this is comment */
.toggle + label::before{
    content: "";
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--change-color);
    margin-left: 10px;
}
.toggle + label::after{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: var(--elipse-color);
    position: absolute;
    transform: translate(-20px, -3px);
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}
.toggle:checked + label::after{
    transform: translate(-5px, -2px);
}

@media screen and (max-width: 750px){
    .toggle-container{
        padding-top: 10px;
    }
}
@media screen and (max-width: 950px){
    .toggle-container{
        top: 10em;
    }
}
@media screen and (max-width: 1150px){
    .toggle-container{
        top: 10em;
    }
}
@media screen and (max-width: 1550px){
    .toggle-container{
        top: 7.5em;
    }
}