.toggle-container{
    position: absolute;
    /* top: 7.5em; */
    padding-left: 170px;
}

.toggle{
    visibility: hidden;
}
.toggle + label {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    font-size: 1em;
    cursor: pointer;
    color: var(--theme-color);
}

.toggle + label::before{
    content: "";
    height: 1.2em;
    width: 2.5em;
    border-radius: 1em;
    background-color: var(--change-color);
    margin-left: 1.1em;
}
.toggle + label::after{
    content: "";
    height: 0.9em;
    width: 1em;
    border-radius: 1em;
    background-color: var(--elipse-color);
    position: absolute;
    top: 1.3em;
    right: 1.2em;
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}
.toggle:checked + label::after{
    transform: translateX(100%);
}

@media screen and (max-width: 350px){
    .toggle-container{
        top: 5em;
    }
}
@media screen and (max-width: 550px){
    .toggle-container{
        top: 10em;
    }
}
@media screen and (max-width: 750px){
    .toggle-container{
        top: 5em;
    }
}
@media screen and (max-width: 950px){
    .toggle-container{
        top: 5em;
    }
}
@media screen and (max-width: 1150px){
    .toggle-container{
        top: 10em;
    }
}
@media screen and (max-width: 1550px){
    .toggle-container{
        top: 7.5em;
    }
}